{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- $base := path.Base $src -}}
{{- $ext := path.Ext $base -}}
{{- $name := strings.TrimSuffix $ext $base -}}
{{- $webp := printf "/img/webp/%s.webp" $name -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path }}
  {{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
    {{- $src = .RelPermalink -}}
    {{- with $u.RawQuery -}}
      {{- $src = printf "%s?%s" $src . -}}
    {{- end -}}
    {{- with $u.Fragment -}}
      {{- $src = printf "%s#%s" $src . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $attributes := merge .Attributes (dict "alt" .Text "src" $src "title" (.Title | transform.HTMLEscape) "loading" "lazy") -}}

{{- /* Determinar si el formato es compatible con WebP */ -}}
{{- $webpCompatible := or (in (slice ".jpg" ".jpeg" ".png") $ext) -}}

{{- if $webpCompatible -}}
<picture>
  <source srcset="{{ $webp }}" type="image/webp">
  <img
  {{- range $k, $v := $attributes -}}
    {{- if $v -}}
      {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
    {{- end -}}
  {{- end -}}>
</picture>
{{- else -}}
<img
  {{- range $k, $v := $attributes -}}
    {{- if $v -}}
      {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
    {{- end -}}
  {{- end -}}>
{{- end -}}
{{- /**/ -}}
