{{- /* Head custom content area start */ -}}

{{- partial "opengraph.html" . -}}

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
{{- $twitterImage := "/images/og/default.png" -}}
{{- if .File -}}
    {{- $twitterImage = printf "/images/og/%s.png" .File.ContentBaseName -}}
{{- end -}}
<meta name="twitter:image" content="{{ $twitterImage | absURL }}">

{{- /* Head custom content area end */ -}} 