{{- $title := .Title -}}
{{- $desc := .Description -}}
{{- if not $desc -}}
    {{- $desc = .Summary -}}
{{- end -}}

{{- $ogimage := "" -}}
{{- if .File -}}
    {{- $ogimage = printf "/images/og/%s.png" .File.ContentBaseName -}}
{{- else -}}
    {{- $ogimage = "/images/og/default.png" -}}
{{- end -}}

<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ $ogimage | absURL }}">
<meta property="og:site_name" content="{{ site.Title }}">

{{- if .Date -}}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
{{- end -}}

{{- if .Lastmod -}}
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">
{{- end -}}

{{- with .Params.tags -}}
{{- range . -}}
<meta property="article:tag" content="{{ . }}">
{{- end -}}
{{- end -}} 