{{- $image := "" -}}

{{- if .Params.cover.image -}}
  {{- if (ne .Params.cover.relative true) -}}
    {{- $image = (.Params.cover.image | absURL) -}}
  {{- else -}}
    {{- $image = ((path.Join .RelPermalink .Params.cover.image) | absURL) -}}
  {{- end -}}
{{- else if .File -}}
  {{- $image = (printf "/images/og/%s.png" .File.ContentBaseName | absURL) -}}
{{- else -}}
  {{- $images := partial "templates/_funcs/get-page-images" . -}}
  {{- with index $images 0 -}}
    {{- $image = .Permalink -}}
  {{- end -}}
{{- end -}}

{{- return $image -}}
